#button {
    display: inline-block;
    background-color: #d27c90;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  
  #button:hover {
    cursor: pointer;
    background-color: #75648d;
  }
  
  #button:active {
    background-color: #75648d;
  }
  
  #button.show {
    opacity: 1;
    visibility: visible;
  }