body {
    padding: 0;
}

h1 {
    font-size: 4vh !important;
    padding-top: 6vh;
    text-align: center;    
    font-family: 'Poppins', sans-serif;
    color:#d27c90;
}

h3 {
    padding-top: 4vh;
    font-size: 3vh !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    line-height: 5vh !important;
    color:#2f4858;
}

h6 {
    font-size: 2.7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    line-height: 5vh !important;
    color:#2f4858;
}

#popover {
    text-decoration: underline;
}

/* topnav */

.topnav {
    background-color: #fff6f3;
    box-shadow: rgba(43,43,43,0.53) 1px 2px 8px;
}

.topnav a {
    color: #d27c90;
    font-size: 2.7vh;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    border-bottom: solid 0.4vh #fff6f3;
}

#topnav-sobre:hover,
#topnav-raio-x:hover,
#topnav-banco-de-ideias:hover,
#topnav-contato:hover {
    color: #d27c90;
    border-bottom: solid 0.4vh #d27c90;
}

#topnav-navbarDropdown:hover {
    color: #d27c90;
    border-bottom: solid 0.4vh #d27c90;
}

.topnav li {
    padding-right: 2vh;
}

.btn {
    background-color: #fff6f3 !important;
    color:  #d27c90 !important;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    font-size: 2.7vh !important;
}

.btn:focus {
    outline: none !important;
}

#background-raio-x {
    overflow: hidden;
    position: relative;
    height: 100vh;
    z-index:1;
    background: url("../assets/elascomputacao.jpg")50%/ cover;
    filter: blur(4px) brightness(60%);
    box-shadow: rgba(43,43,43,0.53) 1px 2px 8px;
}

#background h3 {
    position: relative;
    height: 60vh;
    margin-top: -60vh;
    color: white !important;
    z-index:2;
    font-size: 15vh !important;
    font-weight: 600 !important;
}

#background h6 {
    position: relative;
    height: 45vh;
    margin-top: -45vh;
    color: white !important;
    z-index:2;
    font-size: 4.5vh !important;
    font-weight: 700 !important;
}

/* raio-x */
#content {
    padding-left: 20vh;
    padding-right: 20vh;
}

/* banco de ideias */
.btn-banco-de-ideias {
    text-decoration: none;
    padding: 2vh;
    color: white;
    border-radius: 1vh;
    margin-right: 2vh !important;
    margin-bottom: 7vh;
}

.btn-banco-de-ideias:hover {
    text-decoration: none;
    color: white;
}

#btn-banco-de-dados {
    background-color: #c4c4c4;
}

#btn-banco-de-dados:hover {
    background-color: #a5a5a5;
}

#btn-contribuir {
    background-color: #f1a699;
}

#btn-contribuir:hover {
    background-color: #f19181;
}

.visualization {
    overflow-x: auto;
}

/* contato */
#contato {
    height: auto;
    /*background-image: url('../assets/background-footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color:#fff2ee;
    box-shadow: rgba(43,43,43,0.53) 1px 2px 8px;
}

#contato h1 {
    color: #d27c90;
    padding-top:1.5vh;
    font-size: 3.3vh !important;
}

#contato h6 {
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 1.8vh !important;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.icon {
    margin: 0 !important;
    padding-right: 0.7vh !important;
    color: #a66f96;
}

.icon:hover {
    color: #75648d;
    transform: scale(1.1);
}
.card a:hover {
    text-decoration: none;
    color: #2f4858;
}

.card .card-body {
    color: #2f4858;
    padding: 1vh 0 1vh 1vh !important;
}

.card:hover .col-10 {
    background-color: #e4e4e4;
}

.card .col-2 {
    color: white;
    background-color: #a66f96;
}

.card:hover .col-2 {
    text-decoration: none; 
    background-color:  #75648d;
}