body {
    padding: 0;
}

h1 {
    font-size: 4vh !important;
    padding-top: 7vh;
    text-align: center;    
    font-family: 'Poppins', sans-serif;
    color:#d27c90;
}

h3 {
    padding-top: 5vh;
    font-size: 3vh !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    line-height: 5vh !important;
    color:#2f4858;
}

h6 {
    font-size: 2.7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    line-height: 5vh !important;
    color:#2f4858;
}

#popover {
    text-decoration: underline;
}

/* topnav */

.topnav {
    background-color: #fff6f3;
    box-shadow: rgba(43,43,43,0.53) 1px 2px 8px;
}

.topnav a {
    color: #d27c90;
    font-size: 2.7vh;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    border-bottom: solid 0.4vh #fff6f3;
}

.topnav a:hover {
    color: #d27c90;
    border-bottom: solid 0.4vh #d27c90;
}

.topnav li {
    padding-right: 2vh;
}

.btn {
    background-color: #fff6f3 !important;
    color:  #d27c90 !important;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    font-size: 2.7vh !important;
}

.btn:focus {
    outline: none!important;
}

#background-raio-x {
    background-color: rgb(248, 255, 251);
    height: 100%;
    width: 100%;
}

#background-image {
    padding-top: 20vh;
    height: 100vh;
}

#content {
    padding-left: 20vh;
    padding-right: 20vh;
}

/* banco de ideias */
.btn-banco-de-ideias {
    text-decoration: none;
    padding: 2vh;
    color: white;
    background-color: #f1a699;
    border-radius: 1vh;
    margin-right: 4vh !important;
    margin-bottom: 10vh;
}

.btn-banco-de-ideias:hover {
    text-decoration: none;
    color: white;
    background-color: #f19181;
}


/* contato */
#contato {
    height: auto;
    background-image: url('../assets/background-footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fff6f3;
    box-shadow: rgba(43,43,43,0.53) 1px 2px 8px;
}

#contato h1 {
    color: #d27c90;
    padding-top:2vh;
    padding-left: 3vh;
}

#contato h6 {
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 1.9vh !important;
    font-weight: 600 !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

.icon{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.icon {
    color: #a66f96;
}

.icon:hover {
    color: #75648d;
}

.card a:hover {
    text-decoration: none;
    color: #2f4858;
}

.card .card-body {
    color: #2f4858;

}

.card .col-2 {
    color: white;
    background-color: #a66f96;
}

.card a:hover .col-2{
    text-decoration: none; 
    background-color:  #75648d;
}